<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modifica Banner</title>
</head>
<body>

	<div th:replace="~{fragments/header :: header}"></div>
		<div class="body-89">
			<div class="container-centrato">
				<div class="title-buttons">
					<a class="btn-blue m-button" href="/advertising">
						<i class="fas fa-arrow-left"></i>
						Indietro
					</a>
			    	<h1 class="header-title">Modifica Banner</h1>
					<a class="btn-green m-button" href="#" onclick="submitForm()">
						<i class="fas fa-save"></i>
						Salva
					</a>
				</div>
				<form id="roleForm" th:action="@{/advertising/edit/{id}(id=${advertising.id})}" th:object="${advertising}" method="POST">
					<table class="table table-striped">
						<thead>
							<tr>
								<td>Autore</td>
								<td><input type="text" id="author" th:field="*{author}" class="input-label"></td>
							</tr>
							<tr>
								<td>Link Immagine</td>
								<td><input type="text" id="imageLink" th:field="*{imageLink}" class="input-label"></td>
							</tr>
							<tr>
								<td>Link Autore</td>
								<td><input type="text" id="authorLink" th:field="*{authorLink}" class="input-label"></td>
							</tr>
						</thead>
					</table>
				</form>
		</div>
	</div>
    <div th:replace="~{fragments/footer :: footer}"></div>

    <script>
        function submitForm() {
            // Trova il modulo tramite il suo ID
            var form = document.getElementById('roleForm');
            // Invia il modulo
            form.submit();
        }
    </script>
</body>
</html>
