<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modifica Demone</title>
    <link th:replace="~{fragments/favicon :: link}">
    <link rel="stylesheet" th:href="@{/css/crud.css}" />
</head>
<body>
	<div th:replace="~{fragments/header :: header}"></div>

	<div class="body-89">
		<div class="container-centrato">
			<div class="title-buttons">
				<a class="btn-blue m-button" th:href="@{/aofmonster}"> <i
					class="fas fa-arrow-left"></i> Indietro
				</a>
				<h1 class="header-title">Modifica Demone</h1>
				<a class="btn-green m-button" href="#" onclick="submitForm()"> <i
					class="fas fa-save"></i> Salva
				</a>
			</div>
			<form id="form" th:action="@{/aofmonster/edit/{id}(id=${monster.id})}"
				th:object="${monster}" method="post">
				<table class="table table-striped">
					<thead>
						<tr>
							<td>Nome</td>
							<td><input type="text" th:field="*{nome}" class="input-label"></td>
						</tr>
						<tr>
							<td>Link PNG</td>
							<td><input type="text" th:field="*{linkPng}" class="input-label"></td>
						</tr>
						<tr>
							<td>Regione</td>
							<td>
							<select class="input-label" th:field="*{regione}">
						        <option th:each="region : ${regions}" th:value="${region}" th:text="${region}"></option>
						    </select>
							</td>
						</tr>
					</thead>
				</table>
			</form>
		</div>
<div class="body-89">
			<div class="container-centrato" style="max-width:700px;">
			 
				<div class="title-buttons">
			    	<h3 class="header-title">Elenco dei drop</h3>
			    	<a class="btn-green m-button" th:href="@{/aofdrop/create/{id}(id=${monster.id})}">
			    		<i class="fas fa-plus"></i> Aggiungi Drop
			    	</a>
				</div>
	
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Drops</th>
						<th>Azioni</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="drop : ${monster.drops}">
		                <td th:text="${drop.nome}" th:class="${drop.rarita}"></td>
		                <td style="display:flex; height:100%;">
		                    <form th:action="@{/aofdrop/edit/{id}(id=${drop.id})}" method="get">
		                        <button style="margin: 0 4px;" class="btn-yellow m-button" type="submit">Modifica</button>
		                    </form>
		                    <form th:action="@{/aofdrop/delete/{id}(id=${drop.id})}" method="get" onsubmit="return confirm('Sei sicuro?');">
		                        <button style="margin: 0 4px;" class="btn-red m-button" type="submit">Elimina</button>
		                    </form>
		                </td>
		            </tr>		
				</tbody>
			</table>
		</div>
	</div>
		</div>
	
   	<div th:each="drop : ${monster.drops}">
   		<p th:text="${drop.nome}" th:class="${drop.rarita}"></p>
	   	<a th:href="@{/aofdrop/edit/{id}(id=${drop.id})}">Modifica</a>
	   	<a th:href="@{/aofdrop/delete/{id}(id=${drop.id})}">Elimina</a>   	
   	</div>
   	
   	<a th:href="@{/aofdrop/create/{id}(id=${monster.id})}">Aggiungi drop</a>
<a href="/aofmonster">Torna alla lista</a>




	<div th:replace="~{fragments/footer :: footer}"></div>
    <script>
        function submitForm() {
            // Trova il modulo tramite il suo ID
            var form = document.getElementById('form');
            // Invia il modulo
            form.submit();
        }
    </script>
</body>
</html>
