<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-68L3V697J8"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-68L3V697J8');
	</script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Warunki korzystania z usługi</title>
	<link th:replace="~{fragments/favicon :: link}">

</head>
<body>
    <div th:replace="~{fragments/header-pl :: header}"></div>
    <section>
    <h1>Warunki korzystania z usługi</h1>

    <h2>1. Akceptacja warunków</h2>
    <p>
        Korzystając z naszej usługi, zgadzasz się przestrzegać tych Warunków. Akceptacja tych warunków jest obowiązkowa, aby zakończyć proces rejestracji i korzystać z usługi.
    </p>

    <h2>2. Zbieranie i wykorzystanie danych</h2>
    <p>
        Dane zebrane podczas rejestracji i korzystania z naszej usługi mogą być wykorzystane do:
    </p>
    <ul>
        <li>Zapewnienia dostępu do usług i funkcji strony.</li>
        <li>Zarządzania Twoim kontem.</li>
        <li>Komunikacji w sprawie zmian w usłudze, aktualizacji lub istotnych informacji.</li>
        <li>Zapewnienia bezpieczeństwa systemu i zapobiegania potencjalnym nadużyciom lub oszustwom.</li>
    </ul>
    <p>
        <strong>Ważna uwaga:</strong> Chociaż nie jest to nasza zwykła praktyka, zastrzegamy sobie prawo do sprzedaży Twoich danych osobom trzecim. W takim przypadku poinformujemy Cię o tym, a jeśli prawo tego wymaga, poprosimy o Twoją zgodę przed przystąpieniem do dalszych działań.
    </p>

    <h2>3. Ochrona hasła</h2>
    <p>
        Bezpieczeństwo Twoich informacji jest dla nas priorytetem. Hasła podane podczas rejestracji są <strong>szyfrowane</strong> za pomocą zaawansowanych algorytmów bezpieczeństwa. Oznacza to, że Twoje hasła są nieczytelne, nawet dla nas. Jeśli zgubisz hasło, nie będziemy w stanie go odzyskać. Konieczne będzie przeprowadzenie procedury resetowania hasła.
    </p>

    <h2>4. Zarządzanie płatnościami</h2>
    <p>
        Płatności związane z naszymi usługami <strong>nie są przetwarzane bezpośrednio na naszej stronie</strong>. Korzystamy z zewnętrznych platform płatniczych, aby zapewnić bezpieczeństwo transakcji. Nie mamy bezpośredniego dostępu do Twoich danych płatniczych, które są obsługiwane zgodnie z polityką bezpieczeństwa i prywatności tych zewnętrznych dostawców.
    </p>

    <h2>5. Prawa użytkownika</h2>
    <p>
        Masz prawo do dostępu, modyfikacji lub usunięcia swoich danych osobowych w dowolnym momencie. Jeśli chcesz skorzystać z któregokolwiek z tych praw, skontaktuj się z nami pod adresem <a href="mailto:latavernadimike@libero.it">latavernadimike@libero.it</a>.
    </p>

    <h2>6. Przechowywanie danych</h2>
    <p>
        Przechowujemy Twoje dane tylko tak długo, jak jest to konieczne, aby zapewnić usługę i spełnić obowiązki prawne oraz związane z bezpieczeństwem. Gdy Twoje dane nie będą już potrzebne do tych celów, bezpiecznie je usuniemy.
    </p>

    <h2>7. Zmiany warunków</h2>
    <p>
        Zastrzegamy sobie prawo do aktualizacji tych Warunków w dowolnym momencie. Wszelkie zmiany będą komunikowane poprzez aktualizacje na stronie. Kontynuowanie korzystania z naszej usługi po takich zmianach oznacza akceptację nowych Warunków.
    </p>

    <h2>8. Odpowiedzialność</h2>
    <p>
        Nie ponosimy odpowiedzialności za jakiekolwiek szkody wynikające z niewłaściwego korzystania z naszej usługi ani za jakiekolwiek naruszenia bezpieczeństwa, które wystąpią poza naszą kontrolą, w tym ataki hakerskie lub wycieki danych ze strony osób trzecich.
    </p>

    <h2>9. Kontakt</h2>
    <p>
        W przypadku jakichkolwiek pytań dotyczących Warunków lub przetwarzania Twoich danych, prosimy o kontakt pod adresem email <a href="mailto:latavernadimike@libero.it">latavernadimike@libero.it</a>.
    </p>
</section>
    
	<div th:replace="~{fragments/footer-pl :: footer}"></div>
</body>
</html>