<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-68L3V697J8"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-68L3V697J8');
	</script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Termini e Condizioni di utilizzo</title>
	<link th:replace="~{fragments/favicon :: link}">

</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <section>
    
 <h1>Termini e Condizioni di Utilizzo</h1>

    <h2>1. Accettazione dei Termini</h2>
    <p>
        Accedendo e utilizzando il nostro servizio, l'utente accetta di rispettare i presenti Termini e Condizioni. L'accettazione di questi termini è obbligatoria per completare il processo di registrazione e per utilizzare il servizio.
    </p>

    <h2>2. Raccolta e Utilizzo dei Dati</h2>
    <p>
        I dati raccolti durante la registrazione e l'utilizzo del nostro servizio potrebbero essere utilizzati per:
    </p>
    <ul>
        <li>Fornire accesso ai servizi e alle funzionalità del sito.</li>
        <li>Consentire la gestione del tuo account.</li>
        <li>Comunicare con te in merito a modifiche al servizio, aggiornamenti o informazioni rilevanti.</li>
        <li>Garantire la sicurezza del sistema e prevenire eventuali abusi o frodi.</li>
    </ul>
    <p>
        <strong>Nota importante:</strong> Sebbene non sia la nostra prassi abituale, ci riserviamo il diritto di vendere i tuoi dati a terze parti. In tal caso, ti forniremo un preavviso e, se richiesto dalla legge, il tuo consenso sarà richiesto prima di procedere.
    </p>

    <h2>3. Protezione delle Password</h2>
    <p>
        La sicurezza delle tue informazioni è una priorità per noi. Le password fornite durante la registrazione vengono <strong>criptate</strong> utilizzando algoritmi di sicurezza avanzati. Questo significa che le tue password non sono leggibili, nemmeno da noi. In caso di smarrimento della password, non possiamo recuperarla. Sarà necessario procedere con una procedura di reimpostazione della password.
    </p>

    <h2>4. Gestione dei Pagamenti</h2>
    <p>
        I pagamenti relativi ai nostri servizi <strong>non vengono gestiti direttamente sul nostro sito</strong>. Utilizziamo piattaforme di pagamento esterne per garantire la sicurezza delle transazioni. Non abbiamo accesso diretto ai tuoi dati di pagamento, che sono gestiti in conformità con le politiche di sicurezza e privacy di tali fornitori esterni.
    </p>

    <h2>5. Diritti dell'Utente</h2>
    <p>
        Hai il diritto di accedere, modificare o cancellare i tuoi dati personali in qualsiasi momento. Se desideri esercitare uno di questi diritti, ti preghiamo di contattarci all'indirizzo email <a href="mailto:latavernadimike@libero.it">latavernadimike@libero.it</a>.
    </p>

    <h2>6. Conservazione dei Dati</h2>
    <p>
        Conserviamo i tuoi dati solo per il tempo necessario a fornire il servizio e a rispettare gli obblighi legali e di sicurezza. Quando i tuoi dati non saranno più necessari per tali scopi, li elimineremo in modo sicuro.
    </p>

    <h2>7. Modifiche ai Termini</h2>
    <p>
        Ci riserviamo il diritto di aggiornare questi Termini e Condizioni in qualsiasi momento. Qualsiasi modifica sarà comunicata tramite aggiornamenti al sito. Continuare a utilizzare il nostro servizio dopo tali modifiche implica l'accettazione dei nuovi Termini.
    </p>

    <h2>8. Responsabilità</h2>
    <p>
        Non siamo responsabili per eventuali danni derivanti dall'uso improprio del nostro servizio o per eventuali violazioni della sicurezza che si verifichino al di fuori del nostro controllo, inclusi attacchi hacker o fughe di dati da parte di terzi.
    </p>

    <h2>9. Contatti</h2>
    <p>
        Per qualsiasi domanda relativa ai Termini e Condizioni o alla gestione dei tuoi dati, ti invitiamo a contattarci all'indirizzo email <a href="mailto:latavernadimike@libero.it">latavernadimike@libero.it</a>.
    </p>
    </section>
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>