<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MikeDmC | Otp Request</title>
<link rel="stylesheet" href="/css/login.css" />
<link th:replace="~{fragments/favicon :: link}">
</head>
<body>
	<div th:replace="~{fragments/header :: header}"></div>

	<div class="body">
		<form class="container" th:action="@{/reset-password}" method="POST">
			<div class="form">
				<h2>Cambio password</h2>
				<div class="inputBox">
					<input type="text" name="email" required="required" placeholder=" ">
					<i class="fa-regular fa-envelope"></i> <span>Email</span>
				</div>
				<div class="inputBox">
					<input type="submit" value="Richiedi">
				</div>
			</div>
		</form>
	</div>
	<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>