<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MikeDmC | Resetuj Hasło</title>
<link rel="stylesheet" href="/css/login.css" />
<link th:replace="~{fragments/favicon :: link}">
</head>
<body>
    <div th:replace="~{fragments/header-pl :: header}"></div>

    <div class="body">
        <form class="container" th:action="@{/resetting-password?lang=pl}" method="POST">
            <div class="form">
                <h2>Resetuj Hasło</h2>
                <div class="inputBox">
                    <input class="password-checker" type="password" name="password" required="required"> <i class="fa-solid fa-lock passColor"></i>
                    <span>Hasło</span>
                </div>
                <div class="inputBox">
                    <input type="password" name="password2" required="required">
                    <i class="fa-solid fa-lock"></i> <span>Potwierdź Hasło</span>
                </div>
                <div class="inputBox">
                    <input type="submit" value="Zaktualizuj Hasło">
                </div>
            </div>
        </form>
    </div>
    <div th:replace="~{fragments/footer-pl :: footer}"></div>
</body>
</html>